[user]
    name    = {{ git_user }}
    email   = {{ git_email }}
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    lg = 'log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit'
    st = 'status -sb'
    ci = 'commit -v'
[github]
    user    = {{ github_username }}
    name    = '{{ github_name }}'
[core]
    editor = vim
