---
#- name: Install pip with easy_install
#  become: true
#  become_method: sudo
#  easy_install:
#    name: pip

- name: Install common gem packages
  become: true
  become_method: sudo
  gem:
    name: "{{ item.name }}"
    user_install: "{{ item.user_install | default() }}"
    state: present
  with_items:
    - "{{ gem_packages }}"

- name: Install common pip packages
  become: true
  become_method: sudo
  pip:
    name: "{{ item.name }}"
    extra_args: "{{ item.extra_args | default() }}"
    state: present
  with_items:
    - "{{ pip_packages }}"
